# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/
.conda/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# pyright / mypy type checker
.mypy_cache/
.dmypy.json
dmypy.json
.pytype/

# coverage / testing
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.tox/
.nox/

# build / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
MANIFEST

# logs
*.log

# IDEs / Editors
.vscode/
.idea/
*.swp
*~
.project
.pydevproject
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
